<div ui-view="header"></div>
<div class="row">
    <div class="col-xs-12">
        <a class="detail_top" ui-sref="photo({hid:hid})">
            <img src="http://fc.0372.cn/UploadImages/fangchan/201409/24/20140924180924352-300x225.jpg"
                 alt="housePhoto">
            <span>点击图片进入相册</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">

            <div class="panel-body">

                <strong>金鑫班芙春天</strong>

                <h4><strong class="orange">参考均价：暂无定价</strong></h4>

                <h5>优惠：暂无定价</h5>

                <p><span class="label label-primary">普通住宅</span>
                    <span class="label label-primary">公寓</span></p>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                看房团<span class="glyphicon glyphicon-chevron-right pull-right">&nbsp;</span>
            </div>
            <div class="panel-body">
                参考均价：暂无定价

            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <dtdir></dtdir>
    </div>
    <div class="col-xs-12">
        <hxdir></hxdir>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                详情信息
            </div>

            <ul class="list-group">
                <li class="list-group-item"><strong>开盘时间：</strong>暂无信息</li>
                <li class="list-group-item"><strong>开盘时间：</strong>暂无信息</li>
                <li class="list-group-item"><strong>开盘时间：</strong>暂无信息</li>
            </ul>

        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                项目介绍
            </div>
            <div class="panel-body">
                设定是否感到十分感动高富帅的啊手动阀手动阀阿三地方似的发射点士大夫士大夫阿三地方阿迪斯

            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                项目地图
            </div>
            <div class="panel-body">
                <img id="map" width="100%" height="200"
                     src="http://api.map.baidu.com/staticimage?width=310&amp;height=200&amp;center=114.38340877958,36.096762979339&amp;zoom=13&amp;markers=114.38340877958,36.096762979339">

            </div>
        </div>
    </div>
</div>

