<div ui-view="header"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <div  class="list-group-item">
                <h4 class="list-group-item-heading">2014.11.06</h4>
                <p class="list-group-item-text">周末不知道去哪儿high？跟着小编来金鑫班芙春天，玩转水果忍者和高尔夫，参与即有机会赢取加湿器等大礼！</p>
            </div>
            <div class="list-group-item ">
                <h4 class="list-group-item-heading">2014.11.04</h4>
                <p class="list-group-item-text">1#、2#、3#楼建至4层，其他楼栋在做地下室。</p>
            </div>
            <div class="list-group-item ">
                <h4 class="list-group-item-heading">2014.11.05</h4>
                <p class="list-group-item-text">班芙春天1#、2#、3#楼已出地面，5#、6#、7#、8#、9#楼在做基础。　　班芙春天地处安阳市新老城区交接处，区位优势得天独厚，坐拥新老城区的两大核心商圈资源，新老丹尼斯，沃尔玛，万达商业广场，义乌商贸城等安阳各大商场近在毗邻，让你真正体验“入则宁静，出则繁华”城市中央品质生活。</p>
            </div>
        </div>
    </div>
</div>