<div class="row index_top">
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-9 text-center">
        <a ui-sref="houselist">
            <div class="index_top_link">查找近期热盘<span>搜索</span></div>
        </a>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row text-center index_body">
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/01.png"><br/>新房</a></div>
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/02.png"><br/>购房团</a></div>
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/03.png"><br/>特价房</a></div>
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/04.png"><br/>最新开盘</a></div>
</div>
<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row text-center index_body">
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/05.png"><br/>精彩活动</a></div>
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/06.png"><br/>楼盘动态</a></div>
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/07.png"><br/>看房日记</a></div>
    <div class="col-xs-3"><a ui-sref="houselist"><img src="images/08.png"><br/>户型解析</a></div>
</div>

